@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Título principal */
h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 20px;
    color: #4CAF50;
    font-size: 2.5rem;
}

.container-groups {
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem; /* Espaciado entre columnas */
    padding: 20px;
}

.section {
    border: 1px solid #bebbbb;
    padding: 40px;
    border-radius: 50px;
    background-color: #f9f9f9;
}

/* Estilos para el flexbox dentro de presupuesto */
.presupuesto-flexbox {
    display: flex; /* Mostrar en horizontal */
    justify-content: space-between; /* Espacio entre elementos */
    align-items: center; /* Centrar verticalmente */
    gap: 20px; /* Espacio entre gráfico y datos */
}

/* Estilos para el gráfico del presupuesto */
#grafico-presupuesto {
    max-width: 200px; /* Ajustar tamaño máximo del gráfico */
    flex: 1; /* Que el gráfico ocupe un espacio balanceado */
    font-family: 'Poppins', sans-serif;
}

/* Estilos para los datos del presupuesto */
.presupuesto-datos {
    flex: 1; /* Para que los datos ocupen el espacio restante */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* Estilos de inputs y botones */
input[type="number"], input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
}

/* Estilos para el botón general */
button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

/* Hover para botones */
button:hover {
    background-color: #45a049;
}

/* Estilo del botón de reset */
.btn-reset {
    background-color: #f44336;
}

.btn-reset:hover {
    background-color: #d32f2f;
}

/* Mensaje de presupuesto excedido */
#mensaje-presupuesto {
    font-size: 1.2rem;
    margin-top: 10px;
}

#transacciones {
    margin: 20px;
    border-radius: 10px;
}

/* Lista de transacciones */
#lista-transacciones {
    margin-top: 15px;
    padding: 0;
    list-style-type: none;
}

.transaccion-item {
    width: 1000px;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 13px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    
}

/* Responsive Design */
@media (max-width: 530px) {
    /* Asegura que el flexbox del presupuesto se adapte en móviles */
    .presupuesto-flexbox {
        flex-direction: column;
        align-items: center;
    }

    #grafico-presupuesto {
        max-width: 100%; /* Permitir que el gráfico use todo el ancho */
        margin-bottom: 20px; /* Añadir espacio debajo del gráfico */
    }

    .presupuesto-datos {
        align-items: center;
        text-align: center;
    }

    /* Ajustar tamaños de fuentes y paddings si es necesario */
    h1 {
        font-size: 2rem; /* Reducir tamaño del título */
    }

    button {
        width: 100%; /* Botones ocupan todo el ancho en móviles */
    }

    input[type="number"], input[type="text"], select {
        width: 100%; /* Asegurarse de que los inputs ocupen todo el ancho */
    }
}

.list-group-item {
    transition: transform 0.3s ease;
}

.swipe-left {
    transform: translateX(-100%);
}

.swipe-right {
    transform: translateX(100%);
}

/* Colores personalizados según el tipo de gasto */
.icono-gasto.fa-utensils { color: #ff6347; }  /* Comida - Tomate */
.icono-gasto.fa-home { color: #4682b4; }      /* Casa - Azul acero */
.icono-gasto.fa-piggy-bank { color: #f4a460; } /* Ahorro - Arena */
.icono-gasto.fa-graduation-cap { color: #daa520; } /* Universidad - Dorado */
.icono-gasto.fa-bus { color: #32cd32; }       /* Transporte - Verde lima */
.icono-gasto.fa-bell { color: #ff4500; }      /* Subscripciones - Naranja rojizo */
.icono-gasto.fa-tags { color: #8a2be2; }      /* Gastos varios - Violeta */
.icono-gasto.fa-heartbeat { color: #dc143c; } /* Salud - Carmesí */
.icono-gasto.fa-tint { color: #1e90ff; }      /* Agua - Azul */
.icono-gasto.fa-bolt { color: #ffeb3b; }      /* Electricidad - Amarillo */
.icono-gasto.fa-money-bill { color: #228b22; } /* Default - Verde bosque */

.transaccion-texto small {
    display: block; /* Asegúrate de que la fecha ocupe toda la línea */
    color: #5a5959; /* Un color más suave para la fecha */
    margin-top: 4px; /* Espacio entre la descripción y la fecha */
}


.icono-gasto {
    font-size: 3rem; /* Tamaño del icono */
    margin-right: 10px; /* Espacio entre el icono y el texto */
}